<!--!popuphead-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{title}</title>
<link href='templates/dragonleather_turquoise.css' rel='stylesheet' type='text/css'>
{headscript}{script}
<script type="text/javascript">
function toggle(element) {
	if (document.getElementById(element).style.display == "none") {
		document.getElementById(element).style.display = "";
	} else {
		document.getElementById(element).style.display = "none";
	}
}
</script>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr class="sitecenter">
		<td>
			<h2>{title}</h2>
			<!--!popupfoot-->
			<br />{copyright}<br />
			{source}<br />{version}<br />{pagegen}
		</td>
	</tr>
	<tr class="sitefooter">
	</tr>
</table>

</body>
</html>
<!--!header-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{title}</title>
<link href='templates/dragonleather_turquoise.css' rel='stylesheet' type='text/css'>
{headscript}{script}
<script type="text/javascript">
function toggle(element) {
	if (document.getElementById(element).style.display == "none") {
		document.getElementById(element).style.display = "";
	} else {
		document.getElementById(element).style.display = "none";
	}
}
</script>
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0">
	<tr class="siteheader">
		<td colspan="3"><img src="templates/dragonleather/top-center-turquoise.png"></td>
	</tr>
	<tr class="sitecenter">
		<td>
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="navigation">
						<img src="templates/dragonleather/navheader-divider.png">
						{nav}
						<br />
						<img src="templates/dragonleather/navheader-divider.png">
					</td>
					<td class="content">
						{motd} | {mail} | {petition} | <a href="http://enquirer.improbableisland.com">Enquirer - Blogs, Forums and Wiki</a><br />{petitiondisplay}
						<h2>{title}</h2>
						<!--!footer-->

					</td>
					<td class="stats">
						<img src="templates/dragonleather/navheader-divider.png">
						{stats}
						<br />
						<img src="templates/dragonleather/navheader-divider.png">
						<br /><br />
						<div align="center">
							<a href="javascript:toggle('donator')" class="naked"><img src="templates/dragonleather/donationslot.png"></a>
							<div id="donator" style="display: none;">
								<br /><b>The Island requires money.<br />You desire power.<br />This can mean only one thing!</b>
								{paypal}
								<p>Improbable Island runs no adverts, has no commercial sponsorship, and is entirely dependant on donations to survive.  In return, Donator Points can be traded in for fabulous prizes at the Hunter's Lodge.</p>
								<p><strong>To support Improbable Island and receive Donator Points, please use the purple "Site Admin" PayPal button, after first ensuring that you're logged in.</strong></p>
								<p>To thank the original writer of Legend of the Green Dragon, the core engine upon which Improbable Island was originally based, please use the green "Author" PayPal button.</p>
							</div>
						</div>
						<br />
						<img src="templates/dragonleather/navheader-divider.png">
					</td>
				</tr>
				<tr>
					<td align="left" colspan="3" class="footerinfo">
						{copyright}<br />
						{source}<br />{version}<br />{pagegen}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="sitefooter">
		<td colspan="3">
			<img src="templates/dragonleather/bottom-center.png">
		</td>
	</tr>
</table>

</body>
</html>



<!--!navhead-->
<div class='navhead'>
	{title}<br />
</div>
<!--!navhelp-->
{text}<br />
<!--!navitem-->
<a href="{link}"{accesskey}class='nav' {popup}>{text}</a><br clear='all'>
<!--!statstart-->
<table cellpadding='1' cellspacing='0' class='charinfo'>
<!--!stathead-->
  <tr>
    <td class='charhead' colspan='2'>
    {title}<br />
    </td>
  </tr>
<!--!statrow-->
  <tr>
    <td class='charinfo'><b>{title}</b></td>
    <td class='charinfo'>{value}</td>
  </tr>
<!--!statbuff-->
  <tr>
    <td class='charhead' colspan='2'><b>{title}</b></td>
  </tr>
  <tr>
    <td class='charinfo' colspan='2'>{value}</td>
  </tr>
<!--!statend-->
</table>
<!--!petitioncount-->
{petitioncount}
<!--!login-->
<div align="center">
	{username}:<br />
	<input name='name' id="name" accesskey='u' size='15'><br /><br />
	{password}:<br />
	<input name='password' id="password" accesskey='p' type='password' size='15'><br /><br />
	<input type='submit' value='{button}' class='button'>
<!--!loginfull-->
<div align="center">
	<b>Server Full!</b>
</div>